{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Login{% endblock %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <h2>Login to your account</h2>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans }}" />
    </div>
    <div class="input-group margin-bottom-20">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
        <a href="{{ path("fos_user_resetting_request") }}" class="login-signup-forgot-link">Forgot?</a>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
           <div class="checkbox-list"><label class="checkbox"><input type="checkbox" id="remember_me" name="_remember_me" value="on"> Remember me</label></div>                        
       </div>       
        <div class="col-md-6 col-sm-6">
            <button type="submit" class="btn theme-btn pull-right">{{ 'security.login.submit'|trans }}</button>                        
        </div>
    </div>    

</form>
{% endblock fos_user_content %}
